# gitignore file


# Whitelist some files
!.gitignore
!README.md
!CONTRIBUTING.md

# Temporary data
tools/data_temp/*

# Rsession files
.Rhistory
.Rapp.history
.RData
.Rproj.user/

# GAMS project file 
*.gpr
*.~gm
*.lst
*.lxi
*.log

# Cpp standard gtignore
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac
.DS_Store

# RICE50++
RICE50++

#simulationOutput.txt
simulationOutput.txt